# Environments
.venv/
venv/
env/
Scripts/
Include/
.env

# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data (keep folder structure, ignore contents)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/
